.header {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_title {
  font-size: 26px;
  font-weight: 600;
  color: var(--orange);
  margin-bottom: 10px;
}

.header p {
  font-size: 12px;
  color: var(--white);
}

.header_inner_box {
  height: 44px;
}

@media (max-width: 768px) {
  .header-title {
    font-size: 22px;
  }

  .header p {
    font-size: 10px;
  }
}

@media (max-width: 524px) {
  .header_title {
    font-size: 20px;
  }

  .header p {
    font-size: 9px;
  }
}
