.header {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_title {
  font-size: 26px;
  font-weight: 600;
  color: var(--orange);
  /*  border: 1px solid #fff; */
  margin-bottom: 10px;
}

.header p {
  font-size: 12px;
  color: var(--white);
  /* border: 1px solid #fff; */
}

.header_inner_box {
  height: 44px;
}
