#signup_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: auto 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.signup_input-container {
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signup-input_innerBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  max-width: 600px;
  box-sizing: border-box;
}

.signup-input_title {
  color: white;
  font-size: 14px;
  margin: auto 10px 0 5px;
}

.signup-input_innerBox > h4 {
  color: var(--orange);
  font-size: 10px;
  font-weight: 400;
}

.signup-input {
  border: 1px solid #c5c5c5;
  height: 27px;
  width: 100%;
  border-radius: 5px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  outline: none;
  background-color: transparent;
}

.email-input {
  width: calc(100% - 110px); /* 100%에서 버튼 제외 길이*/
}

.short-input {
  width: 50%;
}

.signup-innerBox_second {
  margin-top: 12px;
  margin-bottom: 20px;
}

.signup-input::placeholder {
  color: 6B6B6B;
  font-size: 10px;
}
.signup-input:focus {
  color: #c5c5c5;
  font-size: 10px;
}

#verityEmail {
  width: 90px;
  height: 25px;
  border-radius: 8px;
  color: black;
  background-color: var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-weight: 600;
  margin-left: 20px;
}

#signup-buttonBox {
  width: 60%;
  max-width: 600px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
}

.signup-btn {
  width: 47%;
  height: 37px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
}

.signup_cancle {
  background-color: #585858;
}

.signup_submit {
  background-color: var(--orange);
}

@media (max-width: 524px) {
  .signup-input_innerBox {
    width: 80%;
  }

  .signup-input_innerBox > h4 {
    font-size: 8px;
  }

  #verityEmail {
    font-size: 9px;
  }

  .signup-input_title {
    font-size: 11px;
  }

  .signup-btn {
    font-size: 11px;
  }
}
