/* #page_container{
  height: auto;
  padding: 20px;
}
 */


#about_main {
  display: flex;
  flex-direction: column;
  align-items: center;
 /*  border: 1px solid #fff; */
}

#about-title {
  color: var(--orange);
  font-size: 14px;
  font-weight: 500;
/*   margin-top: 40px; */
  margin-bottom: 30px;
/*   border: 1px solid #fff; */
}

#about_main > #about-introBox {
  background-color: #1f1f1f;
  width: 67%;
  border-radius: 10px;
  height: 120px;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  max-width: 700px;
  min-width: 370px;
}
#about-introBox h3 {
  color: var(--orange);
  font-weight: bold;
  font-size: 14px;
}

#about-introBox p {
  color: var(--white);
  font-size: 12px;
  text-align: center;
  line-height: 1.6;
}

#about_main > .about-subtitle {
  /* border: 1px solid #fff; */
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  font-size: 14px;
  margin: 6vh 0 4vh;
  line-height: 1.3;
}

#about-subtitle span {
  color: var(--orange);
}

#about_main >.about-bit-subtitle{
 /*  border: 1px solid #fff; */
}
.about-contents {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
 /*  border: 1px solid #fff; */
}

.about-contents h4 {
  color: var(--orange);
  margin-right: 13px;
  font-size: 25px;
}

.about-contents span {
  color: white;
  font-size: 14px;
  font-weight: 500;
/*   letter-spacing: 1.1px; */
}

.ring-text {
  display: inline-block;
  animation: ringEffect 0.9s ease-in-out 2;
}

@keyframes ringEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    color: #ff6600;
  }
  100% {
    transform: scale(1);
    color: #ff7710;
  }
}
#about-contents-txt{
  margin: 5vh 0 7vh;
  /* border: 1px solid #fff; */
}

#about-footer {
  display: flex;
  height: 20%;
  align-items: center;
  justify-content: center;
  gap: 2%;
  margin: 5vh 0 7vh;
  /* border-top: 1px solid #434343; */
/*   border: 1px solid #fff; */
}
@media (max-width: 950px) {
  /* introduction page */
  #about_main > .about-subtitle{
    font-size: 13px;
  }

  /* people page */
  #people_main {
    padding: 4% 3%;
   /*  border: 1px solid #fff; */
  }
  .ab_profile-box{
  }
}
@media (max-width: 768px){
  #about_main > .about-subtitle{
    font-size: 12px;
  }
}
@media (max-width: 524px){
  #about-title ,#about-introBox h3{
    font-size: 12px;
  }
  #about_main > #about-introBox{
    height: 95px;
    min-width: 350px;
    padding: 2.3rem 0.7rem;
    gap: 0.4rem;
  }
  #about-introBox p{
    font-size: 9px;
   /*  font-weight: lighter; */
  }
  #about_main > .about-subtitle{
    font-size: 10px;
  }
  .about-contents{
    height: 26px;
  }
  .about-contents h4{
    font-size: 20px;
  }
  .about-contents span{
    font-size: 12px;
  }
}


/*======people page====== */

#people_main {
  width: 100%;
  padding: 20px 6%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  /* border: 1px solid #fff; */
}

#people-profile_container {
  /* width: 100%; */
  min-width: 850px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 18px;
 /*  border: 1px solid #fff; */
}

.ab_profile-box{
  /*  width: 170px; */
  width: 155px;
  height: 220px;
  border: 2px solid #585858;
  padding: 6px;
  border-radius: 10px;
  color: #d9d9d9;
  font-size: 10px;
}


.ab_profile-img {
  width: 100%;
  height: 72%;
  border-radius: 5px;
  object-fit: cover;
}

.ad_profile_txt-box{
  height: 28%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 9px 6px;
}

.ab_profile-name{
  display: flex;
  align-items: center;
}
.ab_profile-name > h2{
  font-size: 13px;
  color: #ff7710;
  font-weight: 550;
  margin-right: 6px;
}
.ab_profile-name > p{
  background: #585858;
  padding: 1.5px 6px;
  border-radius: 5px;
  font-weight: 100;
  line-height: 16px;
  font-size: 9.5px;
}


@media (max-width: 1430px){
  #people-profile_container{
    min-width: 680px;
  }
}


@media (max-width: 800px){
  #people-profile_container{
    min-width: 505px;
  }
}


@media (max-width: 768px){
  #people_main{
    padding: 20px 3%;
  }
  #people-profile_container{
    min-width: 400px;
    gap: 12px;
  }
  .ab_profile-box{
    width: calc(25% - 10px);
    min-width: 110px;
    height: 28vh;
    border-radius: 7px;
  }
  .ab_profile-img {
    /* height: 72%; */
    height: clamp(70%, 6.5vw, 72%);
  }
  .ad_profile_txt-box {
    padding: 6px 3px;
    /* height: 30%; */
    height: clamp(30%, 6.5vw, 28%);
  }
  .ab_profile-name > h2{
    font-size: clamp(10px, 2.3vw, 11px);
    font-size: 11px;
    white-space: nowrap;
  }
  .ab_profile-name > p{
    font-size: clamp(8px, 1.7vw, 9px);
    line-height: clamp(12px, 2vw, 16px);
    font-size: 9px;
    padding: 0 3px;
    border-radius: 3px;
    white-space: nowrap;
  }
  .ad_profile_txt-box > p{
    font-size: clamp(8px, 1.5vw, 9px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 9px;
  } 
}


@media (max-width: 524px){
  #people-profile_container{
  min-width: 300px;
  gap:10px;
}
.ab_profile-box{
  width: calc(33.3% - 10px);
  max-width: 100px;
  min-width: 85px;
  height: 20vh;
  border-radius: 8px;
  padding: 4px;
}
.ab_profile-img{
  height: 68%;
}
.ad_profile_txt-box{
  padding: 5px 2px;
  height: 32%;
}
.ab_profile-name > h2{
  font-size: clamp(9px, 2.5vw, 10px);
}
.ab_profile-name > p{
  font-size: clamp(7px, 1.8vw, 9px);
  padding: 0 1.5px;
  line-height: clamp(12px, 1.8vw, 14px);
  border-radius: 3px;
}
.ad_profile_txt-box > p{
  font-size: clamp(7px, 1.6vw, 9px);
  max-width: 100%;
}
}
