#footer {
    width: 100vw;
    display: flex;
    height: 110px;
    padding: 15px 3vw 10px;
    box-sizing: border-box;
    background: #111;
    display: flex;
    justify-content: space-between;
   border-top: 1px solid #585858;
  }
  
  .footerLogoBox {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  /*   border: 1px solid #fff; */
  }
  
  .snsLink {
    display: flex;
    align-items: center;
  }
  
  .footerLogo {
    height: 12px;
    margin-right: 10px;
  }
  
  .faceBookLink img,
  .instagramLink img {
    height: 15px;
    margin-right: 7px;
  }
  
  .kmuLogo {
    height: 37px;
    padding-left: 10px;
  }
  
  .footerLogoBox p {
    color: var(--white);
    font-size: 10px;
  }
  
  #footer_nav {
    width: 60%;
    display: flex;
    align-items: flex-start;
    gap: 8%;
    justify-content: space-between;
    /* border: 1px solid #fff; */
  }
  
  .Txt2025 {
    color: var(--orange);
    font-size: 14px;
    font-weight: 500;
  }
  
  .footerList {
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    align-items: center;
   /*  justify-content: space-between; */
  }
  
  .footerList span {
    color: rgba(197, 197, 197, 1);
    font-size: 10px;
    font-weight: 300;
  }
  
  .footerListLink {
    margin-bottom: 2px;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
  }
  
  .footerListLink span {
    color: rgba(197, 197, 197, 1);
    font-size: 12px;
    font-weight: 300;
    margin-left: 5px;
  }
  
  .footerList:last-child {
    height: 100%;
    align-items: flex-start;
    /* justify-content: space-between; */
    gap: 8%;
  /*   border: 1px solid #fff; */
  }
  .footerListLink_last {
   /*  border: 1px solid #fff; */
    display: inline-block;
    width: auto;
    flex-wrap: nowrap;
  }
  
  @media (max-width: 524px){

    #footer{
        display: none;
    }
  }