*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
ul{
    list-style: none;
}
button{
    border: none;
    cursor: pointer;
}
html,body{
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    background: #111;
    overflow: overlay;
}

.font12{
    font-size: 12px;
}
.font14{
    font-size: 14px;
}

::-webkit-scrollbar {
	display: none;
} /*스크롤바 너비 때문에 화면이 넘침 */