.signup_container {
  width: 100vw;
  height: auto;
}

.signup_body {
  /*  height: calc(100vh - 110px); */ /*footer 높이 제외 */
  width: 100vw;
  height: auto;
  /* overflow-y: auto; */
  padding: 0 3vw;
  padding-top: 50px;
}

/* 로그인 페이지 */

.login_form {
  display: flex;
  height: 30vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: auto 20px;
}

.login_input {
  border: 1px solid #c5c5c5;
  height: 40px;
  width: 60%;
  max-width: 380px;
  pad: 2px 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
}

.login_input span {
  font-size: 14px;
  margin-right: 20px;
  color: var(--orange);
  font-weight: 500;
}

.login_input input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 70%;
  height: 100%;
}

.login_input input::placeholder {
  color: 6B6B6B;
  font-size: 13px;
}
.login_input input:focus {
  color: #c5c5c5;
  font-size: 13px;
}

.login_a {
  color: #c5c5c5;
  text-decoration: underline;
  font-size: 11px;
}
