#page_container{
  height: 77%; /* page-header : 23% height */
/*   background: #333; */
  padding: 0 20px;
}

.activites_main {
  height: 80%;
  /* border: 1px solid #fff; */
 /*  background: #444; */
}

.active-common-footer{
  
  border-top: 1px solid #434343;
}

/* 커리큘럼 페이지 */
#curriculum_main{
  height: 70%;
  /* border: 1px solid #fff; */
}

#atv_curriculum-img_box{
  width: 100%;
  height: 82%; /* sub_title 18% */
  display: flex;
  justify-content: center;
  align-items: flex-start;
 /*  background: #333; */
}

#atv_curriculum-img_box img {
  /* border: 1px solid #fff; */
  margin-top: 30px;
  height: 80%;
  background-size: contain;
}


#curriculum_footer{
  height: 30%;
  padding: 10px 3%;
 /*  background: #333; */
  display: flex;
  flex-direction: column;

}
#atv_footer-btnBox {
  display: flex;
  /* margin-left: 80px;
  margin-top: 20px; */
  /* border: 1px solid #fff; */
  height: 20%;
  width: 90%;
  margin: 0 auto;
}
.atv_footer-btn {
  background-color: var(--orange);
  width: 50px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  margin-right: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.atv_footerBtn_default {
  background-color: rgba(88, 88, 88, 1);
}
.atv_footerBtn_clicked {
  background-color: var(--orange);
}



#atv-footer-imgBox {
  margin: 0 auto;
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
/*   border: 1px solid #fff; */
}
.img-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 7%;
  justify-items: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  /* border: 1px solid #fff; */
}
.img-grid img {
  width: 150px; /* 이미지 크기 고정 */
  height: auto;
}
@media (max-width: 970px) {
  .img-grid img{
    width: 130px;
  }
}
@media (max-width: 870px) {
  .img-grid {
    grid-template-columns: repeat(2, 1fr); 
    max-width: 290px;
    gap: 10%;
  }
  .img-grid img{
    width: 130px;
  }
}
.img-grid.single {
  display: flex !important;
  justify-content: center;
}
.img-grid.single img{
  width: 300px !important;
}/* 이미지 다시 넣고 수정하기기 */

/*session 페이지 */
.session_main{
  
}

.atv-sections-container{
  height: 82%; /* sub_title 높이값 12% 제외 */
 /*  background: #666; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 10px;
}
.atv-section {
  display: flex;
  /* border: 1px solid #fff; */
  width: 95%;
  height: 42%;
}

.atv-section_title {
  /* width: 100px; */
  width: 9rem;
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
  /* border: 1px solid #fff; */
}

.atv-section_title h1 {
  color: var(--orange);
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
}

.atv-section_column {
  border-top: 1px solid rgba(255, 119, 16, 0.3);
  width: calc(100%-100px);
  padding: 10px 0;
  margin-left: 20px;
/*   border: 1px solid #fff; */
}
.atv-section_column:last-child {
  border-bottom: 1px solid rgba(255, 119, 16, 0.3);
/*   padding-bottom: 50px; */
}

.atv-section_column h3 {
  color: white;
  font-size: 14px;
  font-weight: 500;
  height: 25%;
  /* border: 1px solid #fff; */
}

.atv-section-innerbox {
  width: 100%;
  height: 75%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* border: 1px solid #fff; */
  padding-top: 6px;
}

.atv-section-innerbox p {
  color: #d9d9d9;
  height: 100%;
  font-size: 12px;
  line-height: 1.8;
 /*  border: 1px solid #fff; */
}

.atv-section-innerbox_left {
  /* border: 1px solid #fff; */
  width: 30%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
 /*  align-items: center; */
}

.session_trackBox {
  border: 1px solid #d9d9d9;
  color: #d9d9d9;
  font-size: 10px;
  height: 15px;
  margin: 3% 3%;
  border-radius: 5px;
  padding: 3% 5%;
  white-space: nowrap;
  width: fit-content;
  display: flex;
  align-items: center;
}

#session-footer {
  height: 20%;
  border-top: 1px solid #434343;
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 5%;
/*   background: #888; */
}

.session-footer_btn {
  border: 1px solid rgba(255, 119, 16, 0.3);
  width: 170px;
  height: 65px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #1A1A1A;
}

.session-footer_btn h3 {
  color: white;
  font-weight: 500;
  font-size: 13px;
  /* margin: 4px 0; */
}

.session-footer_btn h4 {
  color: var(--orange);
  font-weight: 600;
  font-size: 12px;
  margin: 4px 0;
}

.session-footer_btn p {
  color: var(--white);
  font-weight: 300;
  font-size: 10px;
  margin: 4px 0;
}

/*project page*/

.atv_project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.atv_project-title h1 {
  font-size: 15px;
  font-weight: 400;
  margin-right: 15px;
  color: white;
}
#atv-project_header {
  display: flex;
  margin-left: 80px;
  margin-top: 20px;
}

#atv-project_main {
  margin: 30px;
  display: flex;
  justify-content: center;
}

#atv-project-main_container {
  width: 80%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

/* common components*/

.common_atvBox {
  width: 250px;
  padding: 0px;
  padding-bottom: 13px;
  border: 2px solid rgba(88, 88, 88, 1);
  border-radius: 20px;
  margin-bottom: 20px;
}

.common_atv-img {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 3px;
}
.common_atv-img img {
  width: 97%;
  height: 130px;
  border-radius: 15px;
  object-fit: cover;
}

.common_atv-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
  margin-top: 5px;
  height: 20px;
}
.common_atv-name h2 {
  color: var(--orange);
  margin-right: 10px;
  font-size: 15px;
  font-weight: 600;
}

.common_atv-part {
  background-color: rgba(88, 88, 88, 1);
  border-radius: 5px;
  height: 20px;
  padding: 0 7px;
  font-size: 11px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.common_atv-subtitle {
  color: var(--white);
  font-weight: 500;
  font-size: 12px;
  margin: 12px 14px 0 14px;
}
