.activites_main {
  padding-bottom: 60px;
}

#atv_curriculum-img {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#atv_curriculum-img img {
  width: 60%;
}

.activites_footer {
  border-top: 1px solid rgba(88, 88, 88, 1);
}

.atv_footer-btn {
  background-color: var(--orange);
  width: 45px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 17px;
}

.atv_footerBtn_default {
  background-color: rgba(88, 88, 88, 1);
}
.atv_footerBtn_clicked {
  background-color: var(--orange);
}

#atv_footer-btnBox {
  display: flex;
  margin-left: 80px;
  margin-top: 20px;
}

#atv-footer-imgBox {
  display: flex;
  margin-left: 80px;
  margin-top: 20px;
  justify-content: center;
}

#atv-footer-imgBox img {
  height: 70px;
  margin: 0 5px 2px 5px;
}

/*session 페이지 */

.atv-section {
  display: flex;
  margin-top: 50px;
}

.atv-section_column:first-child {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.atv-section_column:first-child h1 {
  color: var(--orange);
  font-size: 17px;
  font-weight: 600;
}

.atv-section_column:last-child {
  border-top: 1px solid rgba(255, 119, 16, 0.3);
  margin-left: 30px;
  width: 70%;
}

.atv-section_column:last-child h1 {
  color: white;
  font-size: 17px;
  font-weight: 400;
}

.atv-section-innerbox {
  margin: 30px 0 10px 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.atv-section-innerbox p {
  color: var(--white);
  font-size: 11px;
}

.atv-section_colum_last {
  border-bottom: 1px solid rgba(255, 119, 16, 0.3);
  padding-bottom: 50px;
}

.atv-section-innerbox_left {
  width: 30%;
  margin: 0 20px;
  justify-content: end;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.session_trackBox {
  border: 1px solid var(--white);
  color: var(--white);
  font-size: 9px;
  margin: 5px;
  border-radius: 5px;
  padding: 2px 10px;
  white-space: nowrap;
  width: fit-content;
}

#session-footer {
  margin-top: 20px;
  border-top: 1px solid rgba(88, 88, 88, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.session-footer_btn {
  border: 1px solid rgba(255, 119, 16, 0.3);
  width: 180px;
  height: 80px;
  margin: 20px 7px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #1a1a1a;
}

.session-footer_btn h2 {
  color: white;
  font-weight: 500;
  font-size: 15px;
  margin: 0;
}

.session-footer_btn h4 {
  color: var(--orange);
  font-weight: 500;
  font-size: 15px;
  margin: 0;
  font-weight: 500;
}

/*project page*/

.atv_project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.atv_project-title h1 {
  font-size: 15px;
  font-weight: 400;
  margin-right: 15px;
  color: white;
}
